body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #33524c; 
    color: white; 
}

.container {
    
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.custom-h1 {
    font-size: 40px;
    font-family: 'Pacifico', cursive; 
    background-color: transparent; 
}
.close-button {
    background-color: transparent; /* Делаем фон кнопки крестика прозрачным */
    color: #ffffff; /* Цвет символа крестика */
    border: none; /* Убираем границу кнопки */
    cursor: pointer; /* Делаем курсор указателем при наведении на кнопку */
    font-size: 16px; /* Размер символа крестика */
}
.input-group {
    display: flex;
    align-items: left;
    margin-bottom: 20px; 
}

input[type="text"],
.submit-button {
    min-width: 700px;

    background-color: #bdc3c7; 
    color: #333; 
    border: none;
    padding: 10px;
    border-radius: 0px;
}

.submit-button {
    min-width: 110px;
    margin-left:0px;
    background-color: rgb(70, 70, 70); 
    color: white; 
}
    
.reset-button {
    min-width: 110px;
    margin-left: 0px;
    background-color: rgb(138, 0, 0);
    color: white; 
}
.custom-checkbox {
    -webkit-appearance: none; /* Убираем стандартный стиль от браузера для checkbox */
    -moz-appearance: none;
    appearance: none;
    width: 25px; /* Увеличиваем ширину checkbox */
    height: 25px; /* Увеличиваем высоту checkbox */
    border: 2px solid #fff; /* Устанавливаем белую границу */
    border-radius: 5px; /* Делаем закругленные углы */
    background-color: transparent; /* Убираем фон */
    cursor: pointer; /* При наведении меняем курсор на указатель */
    vertical-align: middle; /* Выравниваем по вертикали */
    position: relative; /* Добавляем позиционирование */
}

.custom-checkbox:checked {
    background-color: #fff; /* Задаем фон для "отмеченного" checkbox */
}

.custom-checkbox:checked::before {
    content: "\2713"; /* Устанавливаем символ галочки */
    font-size: 30px; /* Увеличиваем размер галочки */
    color: #333; /* Цвет галочки */
    position: absolute; /* Позиционируем галочку внутри checkbox */
    top: 50%; /* Перемещаем галочку до вертикального центра */
    left: 50%; /* Перемещаем галочку до горизонтального центра */
    transform: translate(-50%, -50%); /* Центрируем галочку относительно собственного центра */
}
ol {
    
    margin: 0 auto; /* Центрируем список на странице */
    list-style-type: none;
    padding: 0;
}

li:nth-child(odd) {
    background-color: #454545; /* Темно-серый фон для нечетных элементов */
}

li:nth-child(even) {
    background-color: #333; /* Темный фон для четных элементов */
}

li {
    min-width: 800px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 10px 0;
    white-space: nowrap; /* Отображение текста в одну строку и обрезка многоточием при необходимости */
    overflow: hidden; /* Скрытие переполнения текста */
    position: relative; /* Для позиционирования дат */
}

.date {
    font-size: 12px; /* Уменьшение размера шрифта для дат */
    color: lightgray; /* Цвет текста светло-серый */
    margin-top: 5px; /* Отступ сверху для размещения под текстом */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}


